body {
  font-family: "Calibri";
  margin: 0; 
  padding: 0;
  background: #F5F5F5;
  height: 100%;
  overflow-y: scroll;
overflow-x: hidden;
}

p{
  margin: 10px 20px;
  color: #424242;
  font-family: "Calibri";
}

table, td, th {
  border: 1px solid #666;
}

table {
  border-collapse: collapse;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
  }

th {
  background-color: #2275D3;
  color: #FFFFFF;
  font-family: "Calibri";
  font-style: normal;
}

th.inputsoutputs {
  width: 30%;
  background-color: #73A9E8;
}

td {
  font-family: "Calibri";
}

.navigationButtons {
  text-align: center;
}

.navigationButton {
  position: relative;
  margin-left: -20px;
}
.navigationButton:hover {

  opacity: 0.5;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.groupButtons {
 text-align: right;
 margin-right: 40px;
}

#firstTitle {
  width: 80%;
  margin-left: 10%;
}

#headerContainer {
  width: 100%;
  overflow: hidden; 
}

#secondTitle {
  float:left;
  display: inline;
  width: 70%;
  margin-right: 5%;
}

h2{
  text-align: center;
  color: #424242;
  font-family: "Calibri";
  font-size: 25px;
  font-weight: normal;
}

#contactInfo2 { 
  overflow: hidden; 
  display: inline;
  font-size: 14px;
}

#contactInfo {
  overflow: hidden; 
  display: inline;
  font-size: 14px;
}

#sectionTitle {
  text-align: center;
  font-weight: bold;
}

#groupText,#pageText {
  visibility: hidden;
}

#boxesContainer {
  margin-top: 10px;
  text-align: center;
}

.DDBox {
  margin: 2px ;
  display: inline-block;
  background-color: #6DC59D;
  border-radius: 9px;
  cursor: pointer; 
  cursor: hand; 
}

.DDSelectedBox {
  background-color: #235840;
}

.boxText {
  color: #FFFFFF;
}

#descDetalladaLbl {
  text-align: center;
  font-weight: bold;
}

#imageContainer {
  text-align: center;
}

#groupsContainer {
  
  text-align: center;
  margin-top: 10%;
}

#video {
  text-align: left;
  margin-left: 2%;
   margin-top: 10%;
   margin-bottom: 2%;
}

.groupItem {
   margin: 2px ;
  display: inline-block;
  text-align: left;
  width: 300px;
  border: 2px solid #B8E986;
  border-radius: 20px;
  cursor: pointer;
}

#groupsContainer a {
  text-decoration: none;
}

.groupItem:hover {
  border: 2px solid #235840;
  
}

.groupImg {
  text-align: center;
}

h1 {
  text-align: center;
  color: #424242;
  font-family: "Calibri";
  font-size: 28px;
  font-weight: normal;
}

#contactInfoIndex {
  margin-bottom: 0px;
  font-size: 14px;
}

#phaseDescription {
  margin-left: 20%;
  width: 60%;
}

.ddImage {
 display: block;
    margin: 0 auto;
}

#backButton{
  position: relative;
  right: 85%;
}

#footer p, #footer a{
  text-align: center;
  
}

#appLink {
  display: block;
  margin-left: 20px;
  margin-top: 20px;
}

